<% include partials/header %>
<a href="/">Home</a>
<h1>This is the Campgrounds Page</h1>

<a href="/campgrounds/new">Add a camp</a>
<ul>
  <% campgrounds.forEach((camps) => { %>
  <div>
        <h4><%= camps.name%></h4>
        <img src="<%= camps.image%>" alt="<%= camps.name%> image">
      </div>
  <% }) %>
  </ul>
  <% include partials/footer %>