<% include partials/header %>
<h1>Create a new Campground</h1>
<a href="/">Home</a>
<form action="/campgrounds" method="POST">
<input type="text" name="name" placeholder="camp name">
<input type="text" name="image" placeholder="camp image url">
<button type="submit">Submit</button>
</form>
<a href="/campgrounds">back to Campgrounds</a>
<% include partials/footer %>