<% include ../partials/header %>
    <header class="jumbotron">  
    <div class="container">
        <h1>Welcome to Camper</h1>
        <p>View our hand-picked campgrounds form all over the world</p>
        <p>
          <a class="btn btn-primary" href="/campgrounds/new">Add a camp </a>
        </p>
      </div>
    </header>
    
    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
      <% campgrounds.forEach((camp) => { %>
        <div class="col-sm-6 col-md-3">
          <img class="img-thumbnail" src="<%= camp.image%>" alt="<%= camp.name%> image">
          <div class="caption">
            <h4><%= camp.name%></h4>
            <p><a href="/campgrounds/<%= camp._id %>" class="btn btn-primary">More Info</a></p>
          </div>
        </div>
      <% }) %>
    </div>

  <% include ../partials/footer %>